name: Manage labels

on:
  push:
    branches:
      - main
      - master
  workflow_dispatch:

permissions:
  contents: read
  issues: write
  pull-requests: write

jobs:
  labeler:
    name: Labeler
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repository
        uses: actions/checkout@v4

      - name: Run Labeler
        uses: crazy-max/ghaction-github-labeler@v5.3.0
        with:
          github-token: ${{ secrets.LABELER_TOKEN || secrets.GITHUB_TOKEN }}
          yaml-file: .github/labels.yml
          skip-delete: true
